@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1723 Archbury Dr.<br />
    Avon, IN 46123<br />
    <abbr title="Phone">P:</abbr>
    317-797-9479
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:madflytom@gmail.com">madflytom@gmail.com</a><br />
</address>