@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TomStahl</h1>
    <p class="lead">Hi. This is all just a test.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">View Resume &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Working</h2>
        <p>I'm an IT guy.  I work on development, configuration, system administration, and troubleshooting it all when stuff breaks.
            I enjoy a challenge, and love celebrating a hard-earned win. Just a test.  Just another test.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coding</h2>
        <p>Check out my blog to find out what kinds of things I'm working on with technology.  It's everything from new tech for making corporate life easier, to writing python apps for my Raspberry Pi.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Growing</h2>
        <p>Check out my resume to learn more about my skill set and what I might be able to do for your organization.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>