@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resume information here.</h2>
<div>
    <ul>
        <li>make printable css</li>
        <li>add experience, etc</li>
        <li>add other stuff and things</li>
    </ul>

</div>
